.titulo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.card-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-large {
    border-radius: 30px;
}

.btn-large:hover {
    border-radius: 30px;
    transition: all 400ms ease;
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4);
    transform: translateY(-20%);
}

.card {
    border-radius: 30px;
}

.card-content {
   background-color: rgb(152, 188, 255);
}

.card:hover{
    background-color: rgb(255, 198, 254);
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4);
    transition: all 400ms ease;
    transform: translateY(-3%);
}

h4,h6,input{
    font-family: 'Simpsonfont', sans-serif;
    font-family: 'Akbar', sans-serif;
}